.buy {
  background  : #eee;
  text-align  : center;
  height      : 5rem;
  align-items : center;
  display     : flex;
  font-size   : 1.2rem;
}

.buy__button {
  background : black;
  color      : white;
  border     : none;
}
