.description {
  font-weight : 100;
  font-style  : normal;
  overflow    : auto;

  ul {
    padding-left : 1rem;
  }

  .link {
    font-weight : normal;
  }

  .link:hover {
    text-decoration : underline;
  }
}

.break {
  word-wrap  : break-word;
  word-break : break-all;
}

.description_h3 {
  height                    : 2rem;
  display                   : flex;
  align-items               : center;
  padding-left              : 1.5rem;
  border-top-left-radius    : 2rem;
  background                : linear-gradient(to right, #eee, #eee 70%, white);
}
