.description {
  font-weight : 100;
  font-style  : normal;
  overflow    : auto;

  ul {
    padding-left : 1rem;
  }

  .link {
    font-weight : normal;
  }

  .link:hover {
    text-decoration : underline;
  }
}

.break {
  word-wrap  : break-word;
  word-break : break-all;
}

.description_h3 {
  /* box-shadow  : -6.75rem 4rem 5rem -0.75rem rgba(0, 0, 0, 0.2);*/
  height                    : 2rem;
  display                   : flex;
  align-items               : center;
  background                : #eee;
  padding-left              : 1.5rem;
  border-left               : 1px solid #ccc;
  border-bottom-left-radius : 1rem;
  border-top-left-radius    : 1rem;
  background                : linear-gradient(to right, #eee, #eee 70%, white);
}
