.header {
  background : white;
  color      : black;
}

.header__logo {
  font-weight : 100;
  font-size   : 2rem;
  display     : block;
  margin-left : 2rem;
}

.header__menu {
  width           : 100%;
  background      : black;
  color           : white;
  font-size       : 1.2rem;
  display         : flex;
  justify-content : space-between;

}

.header__menu_title {
  span {
    font-weight : 100;
    margin-left : 2rem;
  }

}

.header__menu_lang {
  align-self   : end;
  margin-right : 2rem;

  .link {
    text-decoration : none;
    color           : white;
  }

  .active {
    font-weight     : 600;
    font-style      : bold;
    text-decoration : underline;
  }
}
