.header {
  background : #eee;
  //box-shadow : black;
  background: no-repeat url("img/target-arrow_grayscale.png");
}

.header__logo {
  font-weight : 100;
  font-size   : 2rem;
  height      : 4rem;
  display     : flex;
  align-items : center;
}

.header__menu {
  background : black;
  color      : white;
  font-size  : 1.2rem;

}

.header__menu_title {
  font-weight : 100;
  height      : 3rem;
  display     : flex;
  align-items : center;
}

.header__menu_lang {
  display     : flex;
  align-items : center;
  font-weight : 100;

  .active {
    font-weight : 900;
    font-style  : bold;
  }

  .link {

  }

  .link:hover {
    text-decoration : underline;
  }
}

/***************************/
/*** navbar smart scroll ***/

.smart-scroll {
  position : fixed;
  top      : 0;
  right    : 0;
  left     : 0;
  z-index  : 1030;
}

.scrolled-down {
  transform  : translateY(-100%);
  transition : all 0.3s ease-in-out;
}

.scrolled-up {
  transform  : translateY(0);
  transition : all 0.3s ease-in-out;
}

/*** ze end ***/
/**************/