html {
  height : 100%;
}

section {
  height : 100%;
}

.body {
  font-family : "JetBrains Mono";
  background  : white;
  height      : 100%;
}

.wrapper {
  min-height         : 100%;
  display            : grid;
  grid-template-rows : auto 1fr auto;
}

@import "misc";
@import "fonts";
@import "header";
@import "description";
@import "tutorial";
@import "footer";
@import "forms";

