doctype html
html(lang='en')
    head
        title Hi, Puggy!
        link(rel='stylesheet' href='css/fonts.css')
        link(rel='stylesheet' href='css/styles.css')
        link(rel='stylesheet' href='css/header.css')
        link(rel='stylesheet' href='css/description.css')
        link(rel='stylesheet' href='css/tutorial.css')
        link(rel='stylesheet' href='css/footer.css')
        body(class='body')
            include blocks/header
            include blocks/description
            include blocks/tutorial
            include blocks/buy
            include blocks/footer
