.buy
    .container-lg
        span.text-block.d-none.d-md-inline-block.d-lg-inline-block Try
        a(href='https://forum.rudtp.ru/resources/measure-extension-panel.756/download' class='link link_button-black text-block' title="Download") demo
            //span.d-none.d-md-inline-block.d-lg-inline-block -version
        span.text-block.d-none.d-md-inline-block.d-lg-inline-block or Buy
        a(href='https://allsoft.ru/software/independent-vendors/4544686/ai-measurments/' class='link link_button-black text-block' title='Buy on Allsoft site')
            span.text-block full version
            span.d-none.d-md-inline-block.d-lg-inline-block (~5 $USD)
        span.text-block.d-none.d-md-inline-block.d-lg-inline-block on the
        a(class='link link_black' href='https://allsoft.ru/' title='Allsoft.ru website')
            span.text-block.link_black.d-none.d-md-inline-block.d-lg-inline-block Allsoft
        span.d-none.d-md-inline-block.d-lg-inline-block partner website
