div(class='description col-md-4')
  h2 install and go!
    h3 It's easy - autoinstall!
    ul
        li Install ZxpInstaller, and run it
        li Drag'n'Drop the Ai_measurments.zxp to ZxpInstaller window
        li Refrash the Illustrator, enjoy!
    h3 For advenced and courage - manual installation!
    h4 Win 7, 8, 10
    ul
        li Rename Ai_measurments.zxp to Ai_measurments.zip
        li Unpack zip-archive
        li Drag'n'Drop the folder Ai_measurments to C:\Program Files (x86)\Common Files\Adobe\CEP\extensions
           p Path doesn't exists? You mast make that folders (CEP\extensionhs) manualy.

    h3 Enjoy this - save you time & brain cells!
    h4 Linear measurments lines:
    ul
        li Select you object that need to measure
        li Push the one of that buttons L (left), R (right), T (top), B (buttom)
    h4 Radius & Diameter (only accurate geometrik circles):
    ul
        li Select a circle which you want to measure.
        li Push the one of that buttons r (radius), D (diameter)

