h4 It's easy - autoinstall!
ul
    li
        span.text-block Install
        a(href='https://zxpinstaller.com/' class='link link_black text-block' title='Jump 2 zxpInstaller website') ZxpInstaller,
        | and run it
    li Drag'n'Drop the Ai_measurments.zxp to ZxpInstaller window
    li Refrash the Illustrator, enjoy!
