h4 Изменяйте параметры разметки
ul
    li
        h5 На вкладке
            span.description_h5_accent  Base
        ul
            li Флаг
                span.label-face-elem Add units (mm)
                span - к цифровому значению размера добавляется обозначение доступной единицы измерения - mm
            li Список значений
                span.label-face-elem Precission
                span - выбирайте точность значения измеряемых объектов в пределах от одного до трех знаков после запятой
            li Флаг
                span.label-face-elem Layer
                span - использовать отдельный слой для разметки.
                p Если же флаг снять, то разметка будет добавляться на тот же слой, где находится измеряемый объект

    li
        h5 На вкладке
            span.description_h5_accent  Geometry
            span  изменяйте:
        ul
            li
                span.label-face-elem Stroke
                span - толщину обводки
            li
                span.label-face-elem Gap
                span - пробел между цифровым значением и линией
            li
                span.label-face-elem Indent
                span - расстояние разметки до объекта
            li
                span.label-face-elem Arrow
                span - размер стрелки (относительно ее длинны)
            li
                span.label-face-elem Scale (%)
                span - масштаб разметки относительно реального размера объекта

    li
        h5 На вкладке
            span.description_h5_accent  Color&Font
            span  изменяйте:
        ul
            li Флаг
                span.label-face-elem Color
                span - цвет разметки (CMYK)
            li
                span.label-face-elem Font size
                span - кегль шрифта (pt)
            li
                span.label-face-elem Font
                span - гарнитуру и начертание шрифта
