div(class='description col-md-5')

    h4 For advenced and courage - manual installation!
    ul
        li Rename Ai_measurments.zxp to Ai_measurments.zip
        li Unpack zip-archive
        li Drag'n'Drop the folder Ai_measurments to one of that paths:
            ul
                li
                    h6  for all users:
                    ul
                        li win(x64): C:\Program Files (x86)\Common Files\Adobe\CEP\extensions, or C:\Program Files\Common Files\Adobe\CEP\extensions
                        li macOS: /Library/Application Support/Adobe/CEP/extensions
                li
                    h6 for one user:
                    ul
                        li win: C:\Users\USERNAME\AppData\ Roaming\Adobe\CEP\extensions
                        li macOS: ~/Library/Application Support/Adobe/CEP/extensions

        p(class='the-note') Path 'CEP\extensions' does not exists? You must make that folders manualy.
