h4 It's easy - autoinstall!
ul
    li
        span.text-block Install
        a(href='https://zxpinstaller.com/' class='link link_black' title='https://zxpinstaller.com/') ZXPInstaller
        |, and run it
    li Drag'n'Drop the ai_measurments_1.0.0.zxp to ZXPInstaller window
    li Refrash the Illustrator, enjoy!
