h4 Как проставить размер между двумя объектами?
ul
    li Выделите два объекта
    li Hold down the Crtl/Cmd key and click the some size button
    li Нажмите и удерживайте клавишу Crtl/Cmd
    li Проставьте нужный линейный размер (кнопки L,R,T,B)
    li Дополнительно: все еще удерживая клавишу Crtl/Cmd измените параметры разметки
