h4 How make markup dimensions between two objects?
ul
    li Select two targets
    li Hold down the Crtl/Cmd key and click the some size button
    li Optionally: while still holding Crtl/Cmd adjust the markup options
