h4 Для продвинутых и бесстрашных - ручная установка!
ul
    li Переименуйте ai_measurments_1.0.0.zxp в ai_measurments_1.0.0.zip
    li Распакуйте zip-archive в папку ai_measurments_1.0.0
    li Переместите папку ai_measurments_1.0.0 по одному из следующих путей:
        ul
            li
                h6  для всех пользователей:
                ul
                    li win(x64): C:\Program Files (x86)\Common Files\Adobe\CEP\extensions, или C:\Program Files\Common Files\Adobe\CEP\extensions
                    li macOS: /Library/Application Support/Adobe/CEP/extensions
            li
                h6 для одного пользователя:
                ul
                    li win: C:\Users\<ИМЯ ПОЛЬЗОВАТЕЛЯ>\AppData\ Roaming\Adobe\CEP\extensions
                    li macOS: ~/Library/Application Support/Adobe/CEP/extensions

    p(class='the-note') Папка 'CEP\extensions' не существует? Чтож, тогда просто создаем ее вручную.
