.header.smart-scroll
    .header__logo
        .container-xl.d-flex.justify-content-between.align-content-center
            a(href="#" class="link link_black")
                span.header__logo_logotype Measurments
            span.header__logo_version.d-none.d-md-inline-block.d-lg-inline-block 1.0.0
    .header__menu
        .container-xl.d-flex.justify-content-between
            .header__menu_title
                //a(class='link link_black' href='https://www.adobe.com/products/illustrator.html' title='www.adobe.com/products/illustrator.html')
                span.d-none.d.d-sm-inline-block.d-lg-inline-block.d-xl-inline-block.text-block Adobe&#174 Illustrator&#174
                span.d-inline-block.d-sm-none.d-md-none.d-lg-none.d-xl-none.text-block AI
                //a(class='link link_black' href='https://www.adobe.com/devnet/creativesuite/cs-extension-builder.html' title='www.adobe.com/devnet/creativesuite/cs-extension-builder.html')
                span.d-none.d-md-inline-block.d-lg-inline-block.d-xl-inline-block Extention Panel
                span.d-inline-block.d-sm-inline-block.d-md-none.d-lg-none.d-xl-none Extension
