div(class='header')
    div(class='header__logo')
        span(class='header__logo-text') Ai.Measurments
    div(class='header__menu')
        div(class='header__menu_title')
            span Adobe&#174 Illustrator&#174 Extenstion Panel
        div(class='header__menu_lang')
            a(href='#' class='link') Ru
            a(href='#' class='link active') En

