.header.smart-scroll
    .header__logo
        .container-xl.d-flex.justify-content-between.align-content-center
            span.header__logo_logotype Ai.Measurments
            span.header__logo_version.d-none.d-md-inline-block.d-lg-inline-block 1.0.0
    .header__menu
        .container-xl.d-flex.justify-content-between
            .header__menu_title
                a(class='link' href='https://www.adobe.com/products/illustrator.html' title='www.adobe.com/products/illustrator.html')
                    span A
                    span.d-none.d-md-inline-block.d-lg-inline-block.text-block dobe&#174
                    span I
                    span.d-none.d-md-inline-block.d-lg-inline-block llustrator&#174
                a(class='link' href='https://www.adobe.com/devnet/creativesuite/cs-extension-builder.html' title='www.adobe.com/devnet/creativesuite/cs-extension-builder.html')
                    span(style="padding-left: 0.5rem") Extension Panel
            .header__menu_lang
                a(href='#' class='link') Ru
                a(href='#' class='link active') En
