h4 Автоустановка
ul
    li
        span.text-block Установите
        a(href='https://zxpinstaller.com/' class='link link_black' title='https://zxpinstaller.com/') ZXPInstaller
        span.the-note.d-block по завершению процесса установки снимите флаг "Запустить ZXPInstaller" и закройте окно установщика
    li Теперь запустите ZXPInstaller
    li Перетащите файл ai_measurments_1.0.0.zxp  в окно ZXPInstaller
    li Перезагрузите Иллюстратор, пользуйтесь!
