h4 Как проставить линейные размеры:
ul
    li Выделите один или несколько объектов
    li Нажмите одну из кнопок на панели и создайте:
        ul
            li
                span.label-face-elem T (Top)
                span - ширину объекта(ов), при этом разметка генерируется сверху от объекта
            li
                span.label-face-elem L (Left)
                span - высоту, разметка слева
            li
                span.label-face-elem R (Right)
                span - высоту, разметка справа
            li
                span.label-face-elem B (Bottom)
                span - ширину, разметка снизу
