h4 Можно даже поставить размер между двумя объектами!
ul
    li Выделите два объекта
    li Нажмите и удерживайте клавишу Crtl/Cmd
    li Проставьте нужный линейный размер (кнопки L,R,T,B)
    li Дополнительно: все еще удерживая клавишу Crtl/Cmd измените параметры разметки
