h4 Сохраняйте настройки в именованные наборы:
ul
    li Отрегулируйте параметры разметки
    li Нажмите кнопку
        span.label-face-elem Edit presets
    li В диалоговом окне
        span.label-face-elem Presets
        span в текстовом поле введите имя набора и нажмите кнопку
        span.label-face-elem Add Preset
h4 Примените сохраненный набор:
ul
    li Выделите объект
    li Проставьте нужный размер
    li Из выпадающего списка
        span.label-face-elem Presets
        span выберите нужный именованный рабор
    li Вуаля! - Выбранный набор настроек применился к текущей разметке

h4 Удалите лишние наборы:
ul
    li В диалоговом окне
        span.label-face-elem Presets
        span кликните крестик справа от имени набора, который надо удалить
    li во всплывающем окне подтвердите удаление