.header.smart-scroll
    .header__logo
        .container-xl.d-flex.justify-content-between.align-content-center
            a(href="#" class="link link_black")
                span.header__logo_logotype Measurments
            span.header__logo_version.d-none.d-md-inline-block.d-lg-inline-block 1.0.0
    .header__menu
        .container-xl.d-flex.justify-content-between
            .header__menu_title
                span.d-none.d-md-inline-block.d-lg-inline-block.d-xl-inline-block.text-block Панель Расширения для
                span.d-inline-block.d-sm-inline-block.d-md-none.d-lg-none.d-xl-none.text-block Расширение
                span.d-none.d.d-sm-inline-block.d-lg-inline-block.d-xl-inline-block Adobe&#174 Illustrator&#174
                span.d-inline-block.d-sm-none.d-md-none.d-lg-none.d-xl-none Illustrator&#174

